* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #c3c3c3;
}

.header__logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 2px 1.125rem rgba(0,0,0,0.1);
}

.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.header__nav-item:first-child {
    margin-left: 0;
}

.header__nav-item {
    position: relative;
    padding: 10px 50px;
    margin-left: 70px;
    font-size: 16px;
    font-weight: bold;
}
.header__nav-item:hover .header__subnav-list {
        display: block;
}

.header__subnav-list {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 60px;
    padding: 0;
    width: 190px;
    background-color: #756d6d;
    border-radius: 8px;
    box-shadow: 0px 2px 1.125rem rgba(0,0,0,0.3);
    z-index: 99;
}

.header__subnav-list::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 12px;
        width: 150px;
        height: 20px;
}

.header__subnav-list::after {
        content: "";
        position: absolute;
        left: 11px;
        top: -23px;
        border-width: 14px 8px;
        border-style: solid;
        border-color: transparent transparent #756d6d transparent;
        cursor: pointer;
}

.header__subnav-item {
    display: block;
    padding: 10px;
    font-size: 14px;
}

.header__subnav-link {
    text-decoration: none;
    color: black;
}

    .header__subnav-link:hover {
        color: #fff
    }

.header__login-btn {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

.banner__img {
    width: 100%;
}

.footer {
    height: 100px;
    background-color: #c3c3c3;
    text-align: center;
    line-height: 100px;
    font-size: 14px;
    font-weight: bold;
}
